= bootstrap_form_for [:admin, battle] do |f|
  - if battle.errors.any?
    #error_explanation
      %h2= "#{pluralize(battle.errors.count, "error")} prohibited this admin_battle from being saved:"
      %ul
        - battle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, label: 'Имя'
  .field
    = f.fields_for :image, battle.image || battle.build_image, label: 'Обложка' do |ff|
      = image_tag '', class: 'image_to_upload'
      = ff.file_field :image, class: 'photo_upload'
  .field
    = f.text_area :description, label: 'Описание'
  .field
    = f.datetime_select :deadline, label: 'Дата окончания'
  .actions
    = f.submit 'Сохранить'
