= bootstrap_form_for user do |f|
  - if user.errors.any?
    #error_explanation
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, label: 'Имя'
  .field
    = f.text_field :surname, label: 'Фамилия'
  .field
    = f.text_field :city, label: 'Город'
  .field
    = f.text_field :login, label: 'Логин'
  .field
    = f.password_field :password, label: 'Пароль'
  .actions
    = f.submit 'Зарегистрироваться'
